In [2]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     -------------------------------------- 44.8/44.8 kB 246.6 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

In [3]:
!pip install mysql

Collecting mysql
  Downloading mysql-0.0.3-py3-none-any.whl (1.2 kB)
Collecting mysqlclient
  Downloading mysqlclient-2.2.4-cp39-cp39-win_amd64.whl (203 kB)
     ------------------------------------ 203.3/203.3 kB 562.7 kB/s eta 0:00:00
Installing collected packages: mysqlclient, mysql
Successfully installed mysql-0.0.3 mysqlclient-2.2.4

In [5]:
!pip install sql

Collecting sql
  Downloading sql-2022.4.0.tar.gz (4.2 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: sql
  Building wheel for sql (setup.py): started
  Building wheel for sql (setup.py): finished with status 'done'
  Created wheel for sql: filename=sql-2022.4.0-py3-none-any.whl size=4307 sha256=9cda11af35f0e2d895d81f7f844306d25a8ffab366f207e3de5304d446a31936
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\46\08\97\9539d985c524b7a3793898bbf6c95879a0e9daf5fc9ba49fd0
Successfully built sql
Installing collected packages: sql
Successfully installed sql-2022.4.0

In [7]:
   !pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Collecting sqlparse
  Using cached sqlparse-0.4.4-py3-none-any.whl (41 kB)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Collecting prettytable
  Downloading prettytable-3.10.0-py3-none-any.whl (28 kB)
Collecting sqlalchemy>=2.0
  Downloading SQLAlchemy-2.0.28-cp39-cp39-win_amd64.whl (2.1 MB)
     ---------------------------------------- 2.1/2.1 MB 114.8 kB/s eta 0:00:00
Requirement already satisfied: ipython in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (7.31.1)
Collecting typing-extensions>=4.6.0
  Using cached typing_extensions-4.10.0-py3-none-any.whl (33 kB)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (1.1.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (63.4.1)
Requirement already satisfied: decorator in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: backcall in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.20)
Requirement already satisfied: jedi>=0.16 in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.5)
Requirement already satisfied: traitlets>=4.2 in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: pickleshare in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: pygments in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: matplotlib-inline in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: wcwidth in c:\users\user\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\user\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Installing collected packages: typing-extensions, sqlparse, prettytable, sqlalchemy, ipython-sql
  Attempting uninstall: typing-extensions
    Found existing installation: typing_extensions 4.3.0
    Uninstalling typing_extensions-4.3.0:
      Successfully uninstalled typing_extensions-4.3.0
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.39
    Uninstalling SQLAlchemy-1.4.39:
      Successfully uninstalled SQLAlchemy-1.4.39
Successfully installed ipython-sql-0.5.0 prettytable-3.10.0 sqlalchemy-2.0.28 sqlparse-0.4.4 typing-extensions-4.10.0

In [1]:
%load_ext sql

In [2]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql mysql+pymysql://root:Shanon2023%23@localhost:3306/mentorness_internship_project

'Connected: root@mentorness_internship_project'

In [3]:
%%sql
SELECT 
	* 
FROM 
	mentorness_internship_project.`hotel reservation dataset`;

 * mysql+pymysql://root:***@localhost:3306/mentorness_internship_project
700 rows affected.

[('INN00001', 2, 0, 1, 2, 'Meal Plan 1', 'Room_Type 1', 224, '02-10-2017', 'Offline', 65.0, 'Not_Canceled'),
 ('INN00002', 2, 0, 2, 3, 'Not Selected', 'Room_Type 1', 5, '06-11-2018', 'Online', 106.68, 'Not_Canceled'),
 ('INN00003', 1, 0, 2, 1, 'Meal Plan 1', 'Room_Type 1', 1, '28-02-2018', 'Online', 60.0, 'Canceled'),
 ('INN00004', 2, 0, 0, 2, 'Meal Plan 1', 'Room_Type 1', 211, '20-05-2018', 'Online', 100.0, 'Canceled'),
 ('INN00005', 2, 0, 1, 1, 'Not Selected', 'Room_Type 1', 48, '11-04-2018', 'Online', 94.5, 'Canceled'),
 ('INN00006', 2, 0, 0, 2, 'Meal Plan 2', 'Room_Type 1', 346, '13-09-2018', 'Online', 115.0, 'Canceled'),
 ('INN00007', 2, 0, 1, 3, 'Meal Plan 1', 'Room_Type 1', 34, '15-10-2017', 'Online', 107.55, 'Not_Canceled'),
 ('INN00008', 2, 0, 1, 3, 'Meal Plan 1', 'Room_Type 4', 83, '26-12-2018', 'Online', 105.61, 'Not_Canceled'),
 ('INN00009', 3, 0, 0, 4, 'Meal Plan 1', 'Room_Type 1', 121, '06-07-2018', 'Offline', 96.9, 'Not_Canceled'),
 ('INN00010', 2, 0, 0, 5, 'Meal Plan 1', 'Room_Type 4', 44, '18-10-2018', 'Online', 133.44, 'Not_Canceled'),
 ('INN00011', 1, 0, 1, 0, 'Not Selected', 'Room_Type 1', 0, '11-09-2018', 'Online', 85.03, 'Not_Canceled'),
 ('INN00012', 1, 0, 2, 1, 'Meal Plan 1', 'Room_Type 4', 35, '30-04-2018', 'Online', 140.4, 'Not_Canceled'),
 ('INN00013', 2, 0, 2, 1, 'Not Selected', 'Room_Type 1', 30, '26-11-2018', 'Online', 88.0, 'Canceled'),
 ('INN00014', 1, 0, 2, 0, 'Meal Plan 1', 'Room_Type 1', 95, '20-11-2018', 'Online', 90.0, 'Canceled'),
 ('INN00015', 2, 0, 0, 2, 'Meal Plan 1', 'Room_Type 1', 47, '20-10-2017', 'Online', 94.5, 'Not_Canceled'),
 ('INN00016', 2, 0, 0, 2, 'Meal Plan 2', 'Room_Type 1', 256, '15-06-2018', 'Online', 115.0, 'Canceled'),
 ('INN00017', 1, 0, 1, 0, 'Meal Plan 1', 'Room_Type 1', 0, '05-10-2017', 'Offline', 96.0, 'Not_Canceled'),
 ('INN00018', 2, 0, 1, 3, 'Not Selected', 'Room_Type 1', 1, '10-08-2017', 'Online', 96.0, 'Not_Canceled'),
 ('INN00019', 2, 0, 2, 2, 'Meal Plan 1', 'Room_Type 1', 99, '30-10-2017', 'Online', 65.0, 'Canceled'),
 ('INN00020', 2, 0, 1, 0, 'Meal Plan 1', 'Room_Type 1', 12, '04-10-2017', 'Offline', 72.0, 'Not_Canceled'),
 ('INN00021', 2, 0, 2, 2, 'Meal Plan 1', 'Room_Type 1', 99, '30-10-2017', 'Online', 65.0, 'Canceled'),
 ('INN00022', 1, 0, 0, 1, 'Meal Plan 1', 'Room_Type 1', 122, '25-11-2018', 'Corporate', 67.0, 'Not_Canceled'),
 ('INN00023', 2, 0, 2, 4, 'Meal Plan 1', 'Room_Type 1', 2, '20-03-2018', 'Offline', 85.0, 'Not_Canceled'),
 ('INN00024', 2, 0, 0, 3, 'Meal Plan 1', 'Room_Type 1', 37, '13-10-2018', 'Offline', 105.0, 'Not_Canceled'),
 ('INN00025', 2, 0, 2, 1, 'Not Selected', 'Room_Type 1', 130, '22-05-2018', 'Online', 94.5, 'Not_Canceled'),
 ('INN00026', 2, 0, 0, 2, 'Meal Plan 1', 'Room_Type 1', 99, '28-04-2018', 'Online', 114.3, 'Not_Canceled'),
 ('INN00027', 2, 0, 1, 1, 'Meal Plan 1', 'Room_Type 1', 60, '21-09-2017', 'Offline', 65.0, 'Not_Canceled'),
 ('INN00028', 1, 0, 0, 2, 'Meal Plan 1', 'Room_Type 4', 2, '19-05-2018', 'Aviation', 110.0, 'Canceled'),
 ('INN00029', 1, 0, 1, 2, 'Meal Plan 1', 'Room_Type 1', 37, '06-11-2017', 'Online', 37.33, 'Canceled'),
 ('INN00030', 2, 0, 0, 2, 'Meal Plan 2', 'Room_Type 1', 56, '17-09-2017', 'Offline', 82.0, 'Not_Canceled'),
 ('INN00031', 2, 0, 1, 1, 'Meal Plan 1', 'Room_Type 4', 3, '19-09-2017', 'Online', 177.5, 'Not_Canceled'),
 ('INN00032', 2, 0, 2, 2, 'Meal Plan 1', 'Room_Type 1', 107, '13-11-2018', 'Online', 87.5, 'Not_Canceled'),
 ('INN00033', 0, 2, 0, 3, 'Meal Plan 1', 'Room_Type 2', 56, '07-12-2018', 'Online', 82.44, 'Not_Canceled'),
 ('INN00034', 2, 0, 0, 1, 'Not Selected', 'Room_Type 1', 2, '09-01-2018', 'Online', 69.5, 'Not_Canceled'),
 ('INN00035', 2, 0, 0, 2, 'Meal Plan 1', 'Room_Type 1', 72, '07-10-2018', 'Offline', 85.5, 'Not_Canceled'),
 ('INN00036', 2, 0, 0, 1, 'Not Selected', 'Room_Type 1', 23, '27-04-2018', 'Online', 115.0, 'Not_Canceled'),
 ('INN00037', 1, 0, 2, 1, 'Meal Plan 1', 'Room_Type 1', 34, '19-06-2018', 'Online', 81.0, 'Canceled'),
 ('INN00038', 2, 0, 0, 1, 'Meal Plan 1', 'Room_Type 1', 289, '17-10-2017', 'Offline', 67.0, 'Not_Canceled'),
 ('INN00039', 2, 0, 2, 3, 'Not Selected', 'Room_Type 1', 247, '19-11-2018', 'Online', 63.75, 'Canceled'),
 ('INN00040', 2, 0, 2, 1, 'Meal Plan 1', 'Room_Type 4', 186, '30-07-2018', 'Online', 121.8, 'Canceled'),
 ('INN00041', 2, 0, 0, 4, 'Meal Plan 1', 'Room_Type 1', 64, '01-11-2018', 'Online', 93.6, 'Not_Canceled'),
 ('INN00042', 2, 0, 0, 2, 'Meal Plan 1', 'Room_Type 1', 35, '21-06-2018', 'Online', 102.0, 'Not_Canceled'),
 ('INN00043', 3, 0, 2, 1, 'Meal Plan 1', 'Room_Type 1', 96, '10-04-2018', 'Online', 121.8, 'Not_Canceled'),
 ('INN00044', 2, 0, 1, 1, 'Not Selected', 'Room_Type 1', 41, '27-06-2018', 'Online', 98.1, 'Canceled'),
 ('INN00045', 2, 0, 0, 4, 'Meal Plan 1', 'Room_Type 4', 55, '18-11-2017', 'Offline', 60.0, 'Not_Canceled'),
 ('INN00046', 2, 0, 0, 3, 'Meal Plan 1', 'Room_Type 1', 146, '29-12-2017', 'Offline', 75.0, 'Not_Canceled'),
 ('INN00047', 1, 0, 0, 2, 'Meal Plan 1', 'Room_Type 1', 32, '20-11-2017', 'Offline', 73.0, 'Not_Canceled'),
 ('INN00048', 2, 0, 0, 1, 'Meal Plan 2', 'Room_Type 1', 55, '06-04-2018', 'Offline', 104.0, 'Not_Canceled'),
 ('INN00049', 2, 0, 0, 4, 'Not Selected', 'Room_Type 1', 57, '01-11-2018', 'Online', 79.2, 'Not_Canceled'),
 ('INN00050', 1, 0, 1, 3, 'Meal Plan 1', 'Room_Type 4', 7, '29-12-2018', 'Online', 125.8, 'Not_Canceled'),
 ('INN00051', 1, 0, 2, 5, 'Not Selected', 'Room_Type 1', 124, '30-05-2018', 'Online', 87.95, 'Not_Canceled'),
 ('INN00052', 2, 0, 2, 2, 'Meal Plan 2', 'Room_Type 1', 169, '22-04-2018', 'Online', 106.0, 'Canceled'),
 ('INN00053', 1, 0, 1, 2, 'Meal Plan 1', 'Room_Type 1', 6, '16-05-2018', 'Online', 136.67, 'Not_Canceled'),
 ('INN00054', 2, 0, 0, 4, 'Meal Plan 1', 'Room_Type 4', 51, '11-11-2017', 'Offline', 60.0, 'Not_Canceled'),
 ('INN00055', 2, 0, 1, 0, 'Not Selected', 'Room_Type 1', 13, '13-06-2018', 'Online', 89.0, 'Not_Canceled'),
 ('INN00056', 2, 0, 1, 3, 'Meal Plan 1', 'Room_Type 1', 100, '19-05-2018', 'Online', 136.0, 'Not_Canceled'),
 ('INN00057', 2, 0, 0, 1, 'Not Selected', 'Room_Type 1', 139, '28-07-2018', 'Online', 94.5, 'Not_Canceled'),
 ('INN00058', 2, 0, 1, 2, 'Meal Plan 1', 'Room_Type 1', 117, '26-12-2018', 'Online', 93.6, 'Not_Canceled'),
 ('INN00059', 2, 0, 1, 4, 'Meal Plan 1', 'Room_Type 4', 39, '20-04-2018', 'Online', 120.6, 'Canceled'),
 ('INN00060', 2, 0, 0, 3, 'Meal Plan 1', 'Room_Type 4', 86, '06-04-2018', 'Online', 99.3, 'Not_Canceled'),
 ('INN00061', 2, 2, 0, 1, 'Meal Plan 1', 'Room_Type 6', 2, '02-09-2018', 'Online', 258.0, 'Not_Canceled'),
 ('INN00062', 1, 0, 0, 3, 'Meal Plan 1', 'Room_Type 4', 19, '03-05-2018', 'Online', 120.12, 'Not_Canceled'),
 ('INN00063', 1, 0, 0, 2, 'Meal Plan 1', 'Room_Type 1', 192, '24-06-2018', 'Offline', 95.0, 'Not_Canceled'),
 ('INN00064', 1, 0, 0, 1, 'Meal Plan 1', 'Room_Type 1', 2, '10-09-2017', 'Complementary', 0.0, 'Not_Canceled'),
 ('INN00065', 2, 0, 2, 1, 'Meal Plan 1', 'Room_Type 1', 86, '18-12-2018', 'Offline', 75.0, 'Not_Canceled'),
 ('INN00066', 2, 0, 0, 3, 'Meal Plan 1', 'Room_Type 4', 30, '05-10-2018', 'Online', 157.5, 'Not_Canceled'),
 ('INN00067', 2, 0, 0, 2, 'Meal Plan 1', 'Room_Type 4', 179, '03-06-2018', 'Online', 97.7, 'Not_Canceled'),
 ('INN00068', 2, 0, 0, 2, 'Meal Plan 1', 'Room_Type 4', 26, '15-04-2018', 'Online', 142.0, 'Canceled'),
 ('INN00069', 2, 0, 0, 1, 'Meal Plan 1', 'Room_Type 1', 55, '06-04-2018', 'Offline', 80.0, 'Not_Canceled'),
 ('INN00070', 2, 0, 1, 2, 'Meal Plan 1', 'Room_Type 1', 74, '25-04-2018', 'Online', 85.5, 'Not_Canceled'),
 ('INN00071', 2, 0, 0, 3, 'Meal Plan 1', 'Room_Type 1', 143, '25-08-2018', 'Offline', 100.0, 'Not_Canceled'),
 ('INN00072', 2, 0, 1, 0, 'Not Selected', 'Room_Type 1', 34, '14-11-2018', 'Online', 88.0, 'Not_Canceled'),
 ('INN00073', 2, 0, 1, 1, 'Meal Plan 1', 'Room_Type 1', 30, '29-08-2018', 'Online', 122.85, 'Not_Canceled'),
 ('INN00074', 2, 0, 0, 2, 'Meal Plan 1', 'Room_Type 1', 177, '03-06-2018', 'Online', 100.0, 'Canceled'),
 ('INN00075', 2, 0, 2, 3, 'Meal Plan 1', 'Room_Type 4', 34, '25-10-2017', 'Offline', 75.0, 'Not_Canceled'),
 ('INN00076', 2, 0, 1, 4, 'Meal Plan 1', 'Room_Type 4', 18, '09-03-2018', 'Online', 116.8, 'Not_Canceled'),
 ('INN00077', 3, 0, 1, 1, 'Meal Plan 1', 'Room_Type 4', 267, '31-12-2018', 'Online', 121.5, 'Not_Canceled'),
 ('INN00078', 2, 0, 1, 2, 'Meal Plan 1', 'Room_Type 1', 64, '27-06-2018', 'Online', 111.9, 'Not_Canceled'),
 ('INN00079', 3, 0, 2, 5, 'Meal Plan 1', 'Room_Type 4', 155, '28-06-2018', 'Online', 121.55, 'Canceled'),
 ('INN00080', 2, 0, 0, 5, 'Meal Plan 1', 'Room_Type 1', 46, '29-03-2018', 'Offline', 75.0, 'Not_Canceled'),
 ('INN00081', 2, 2, 0, 2, 'Meal Plan 1', 'Room_Type 6', 83, '01-04-2018', 'Online', 159.3, 'Canceled'),
 ('INN00082', 2, 0, 0, 5, 'Meal Plan 1', 'Room_Type 4', 128, '11-10-2018', 'Online', 132.3, 'Canceled'),
 ('INN00083', 2, 0, 2, 0, 'Not Selected', 'Room_Type 1', 20, '25-12-2018', 'Online', 88.0, 'Not_Canceled'),
 ('INN00084', 2, 0, 1, 4, 'Meal Plan 1', 'Room_Type 4', 40, '14-03-2018', 'Online', 98.82, 'Not_Canceled'),
 ('INN00085', 2, 0, 1, 2, 'Meal Plan 1', 'Room_Type 4', 46, '04-03-2018', 'Online', 98.3, 'Not_Canceled'),
 ('INN00086', 1, 0, 1, 0, 'Meal Plan 1', 'Room_Type 1', 1, '17-10-2018', 'Online', 150.0, 'Not_Canceled'),
 ('INN00087', 2, 0, 2, 3, 'Not Selected', 'Room_Type 1', 196, '04-09-2018', 'Online', 96.05, 'Not_Canceled'),
 ('INN00088', 1, 0, 0, 2, 'Meal Plan 1', 'Room_Type 1', 188, '15-06-2018', 'Online', 130.0, 'Canceled'),
 ('INN00089', 2, 0, 0, 1, 'Not Selected', 'Room_Type 1', 17, '10-12-2018', 'Online', 95.0, 'Not_Canceled'),
 ('INN00090', 2, 0, 0, 3, 'Meal Plan 1', 'Room_Type 5', 146, '09-08-2018', 'Offline', 113.56, 'Not_Canceled'),
 ('INN00091', 2, 0, 1, 3, 'Not Selected', 'Room_Type 1', 110, '05-05-2018', 'Online', 101.58, 'Not_Canceled'),
 ('INN00092', 2, 0, 1, 2, 'Meal Plan 1', 'Room_Type 1', 68, '18-03-2018', 'Online', 105.3, 'Not_Canceled'),
 ('INN00093', 2, 0, 2, 1, 'Meal Plan 1', 'Room_Type 4', 73, '09-04-2018', 'Online', 115.8, 'Not_Canceled'),
 ('INN00094', 2, 0, 0, 1, 'Meal Plan 1', 'Room_Type 4', 92, '19-05-2018', 'Online', 149.4, 'Not_Canceled'),
 ('INN00095', 2, 0, 2, 5, 'Meal Plan 1', 'Room_Type 1', 171, '30-08-2018', 'Online', 111.59, 'Canceled'),
 ('INN00096', 2, 1, 0, 2, 'Meal Plan 1', 'Room_Type 1', 134, '04-08-2018', 'Online', 130.5, 'Not_Canceled'),
 ('INN00097', 2, 0, 0, 2, 'Meal Plan 2', 'Room_Type 1', 320, '18-08-2018', 'Online', 115.0, 'Canceled'),
 ('INN00098', 2, 0, 0, 4, 'Meal Plan 1', 'Room_Type 1', 118, '13-04-2018', 'Online', 90.95, 'Not_Canceled'),
 ('INN00099', 2, 0, 0, 3, 'Meal Plan 1', 'Room_Type 1', 30, '17-11-2018', 'Online', 76.08, 'Not_Canceled'),
 ('INN00100', 2, 2, 1, 3, 'Meal Plan 1', 'Room_Type 6', 30, '22-12-2018', 'Online', 156.9, 'Not_Canceled'),
 ('INN00101', 2, 0, 1, 0, 'Not Selected', 'Room_Type 1', 189, '23-10-2018', 'Online', 85.5, 'Not_Canceled'),
 ('INN00102', 3, 0, 1, 2, 'Meal Plan 1', 'Room_Type 4', 55, '13-05-2018', 'Online', 159.3, 'Not_Canceled'),
 ('INN00103', 1, 0, 0, 4, 'Meal Plan 1', 'Room_Type 1', 55, '13-12-2018', 'Online', 74.8, 'Not_Canceled'),
 ('INN00104', 2, 0, 0, 1, 'Meal Plan 1', 'Room_Type 1', 16, '31-10-2017', 'Online', 95.0, 'Not_Canceled'),
 ('INN00105', 2, 0, 0, 3, 'Meal Plan 1', 'Room_Type 1', 24, '08-10-2017', 'Online', 107.0, 'Not_Canceled'),
 ('INN00106', 2, 0, 0, 3, 'Meal Plan 1', 'Room_Type 1', 8, '16-02-2018', 'Offline', 64.0, 'Not_Canceled'),
 ('INN00107', 2, 0, 1, 4, 'Meal Plan 1', 'Room_Type 1', 10, '02-11-2017', 'Online', 82.95, 'Not_Canceled'),
 ('INN00108', 2, 0, 1, 3, 'Meal Plan 1', 'Room_Type 4', 0, '21-09-2017', 'Online', 155.0, 'Not_Canceled'),
 ('INN00109', 2, 0, 0, 1, 'Not Selected', 'Room_Type 1', 12, '30-06-2018', 'Online', 101.68, 'Not_Canceled'),
 ('INN00110', 2, 0, 2, 1, 'Meal Plan 1', 'Room_Type 1', 32, '05-09-2017', 'Online', 94.5, 'Not_Canceled'),
 ('INN00111', 2, 0, 0, 2, 'Meal Plan 1', 'Room_Type 1', 182, '30-09-2018', 'Online', 117.9, 'Canceled'),
 ('INN00112', 2, 0, 1, 0, 'Not Selected', 'Room_Type 1', 1, '27-06-2018', 'Online', 127.0, 'Not_Canceled'),
 ('INN00113', 2, 0, 0, 3, 'Not Selected', 'Room_Type 1', 122, '16-06-2018', 'Online', 116.1, 'Not_Canceled'),
 ('INN00114', 2, 0, 2, 3, 'Meal Plan 1', 'Room_Type 1', 40, '30-06-2018', 'Online', 117.9, 'Not_Canceled'),
 ('INN00115', 2, 2, 2, 2, 'Meal Plan 1', 'Room_Type 2', 116, '26-06-2018', 'Online', 184.24, 'Canceled'),
 ('INN00116', 3, 0, 2, 2, 'Meal Plan 1', 'Room_Type 4', 123, '13-08-2018', 'Online', 155.7, 'Not_Canceled'),
 ('INN00117', 3, 0, 2, 5, 'Meal Plan 1', 'Room_Type 4', 40, '22-04-2018', 'Online', 135.76, 'Canceled'),
 ('INN00118', 2, 1, 2, 5, 'Meal Plan 1', 'Room_Type 1', 105, '12-11-2018', 'Online', 102.83, 'Not_Canceled'),
 ('INN00119', 2, 0, 0, 1, 'Meal Plan 1', 'Room_Type 1', 443, '29-04-2018', 'Online', 65.0, 'Canceled'),
 ('INN00120', 2, 0, 2, 3, 'Meal Plan 1', 'Room_Type 1', 2, '14-11-2017', 'Online', 103.0, 'Not_Canceled'),
 ('INN00121', 2, 0, 0, 3, 'Meal Plan 1', 'Room_Type 1', 317, '01-09-2018', 'Online', 106.2, 'Canceled'),
 ('INN00122', 2, 0, 0, 2, 'Meal Plan 2', 'Room_Type 1', 286, '16-09-2018', 'Offline', 58.5, 'Not_Canceled'),
 ('INN00123', 2, 0, 1, 3, 'Meal Plan 1', 'Room_Type 1', 68, '10-03-2018', 'Online', 73.95, 'Canceled'),
 ('INN00124', 2, 0, 0, 3, 'Meal Plan 1', 'Room_Type 1', 148, '05-05-2018', 'Online', 105.3, 'Not_Canceled'),
 ('INN00125', 3, 0, 2, 0, 'Meal Plan 1', 'Room_Type 4', 68, '24-04-2018', 'Online', 133.2, 'Not_Canceled'),
 ('INN00126', 2, 0, 0, 2, 'Meal Plan 1', 'Room_Type 1', 30, '30-03-2018', 'Offline', 85.5, 'Not_Canceled'),
 ('INN00127', 1, 0, 0, 1, 'Meal Plan 1', 'Room_Type 1', 14, '03-11-2018', 'Online', 112.0, 'Canceled'),
 ('INN00128', 2, 2, 0, 2, 'Meal Plan 1', 'Room_Type 6', 110, '14-10-2018', 'Online', 190.8, 'Canceled'),
 ('INN00129', 1, 0, 2, 3, 'Meal Plan 1', 'Room_Type 1', 117, '05-06-2018', 'Offline', 110.0, 'Not_Canceled'),
 ('INN00130', 2, 0, 1, 4, 'Meal Plan 1', 'Room_Type 4', 85, '13-07-2018', 'Online', 91.48, 'Not_Canceled'),
 ('INN00131', 2, 0, 0, 2, 'Not Selected', 'Room_Type 1', 1, '20-10-2018', 'Online', 135.0, 'Not_Canceled'),
 ('INN00132', 1, 0, 1, 2, 'Meal Plan 1', 'Room_Type 1', 25, '17-10-2018', 'Online', 129.0, 'Not_Canceled'),
 ('INN00133', 2, 0, 2, 4, 'Not Selected', 'Room_Type 1', 289, '28-12-2018', 'Online', 70.55, 'Canceled'),
 ('INN00134', 2, 0, 1, 4, 'Meal Plan 1', 'Room_Type 4', 28, '19-10-2017', 'Offline', 75.0, 'Not_Canceled'),
 ('INN00135', 1, 0, 0, 4, 'Not Selected', 'Room_Type 1', 80, '29-03-2018', 'Online', 72.25, 'Not_Canceled'),
 ('INN00136', 2, 0, 0, 1, 'Meal Plan 1', 'Room_Type 4', 11, '09-10-2017', 'Online', 155.0, 'Not_Canceled'),
 ('INN00137', 2, 1, 1, 0, 'Meal Plan 1', 'Room_Type 1', 162, '25-07-2018', 'Online', 121.5, 'Canceled'),
 ('INN00138', 2, 0, 2, 5, 'Meal Plan 1', 'Room_Type 1', 155, '28-06-2018', 'Online', 90.95, 'Not_Canceled'),
 ('INN00139', 1, 0, 2, 2, 'Meal Plan 1', 'Room_Type 1', 82, '22-05-2018', 'Online', 109.65, 'Not_Canceled'),
 ('INN00140', 3, 0, 2, 4, 'Meal Plan 1', 'Room_Type 4', 27, '15-04-2018', 'Online', 142.72, 'Canceled'),
 ('INN00141', 1, 0, 1, 2, 'Meal Plan 1', 'Room_Type 1', 13, '09-05-2018', 'Offline', 90.0, 'Not_Canceled'),
 ('INN00142', 2, 0, 0, 2, 'Meal Plan 1', 'Room_Type 1', 245, '17-06-2018', 'Online', 75.0, 'Canceled'),
 ('INN00143', 2, 0, 0, 2, 'Meal Plan 1', 'Room_Type 1', 11, '18-11-2018', 'Online', 111.0, 'Canceled'),
 ('INN00144', 2, 0, 2, 2, 'Meal Plan 1', 'Room_Type 1', 266, '30-10-2018', 'Online', 86.7, 'Not_Canceled'),
 ('INN00145', 2, 0, 1, 0, 'Meal Plan 1', 'Room_Type 1', 39, '28-03-2018', 'Online', 117.9, 'Not_Canceled'),
 ('INN00146', 1, 0, 0, 2, 'Meal Plan 1', 'Room_Type 1', 13, '01-06-2018', 'Complementary', 0.0, 'Not_Canceled'),
 ('INN00147', 2, 0, 0, 4, 'Not Selected', 'Room_Type 1', 112, '04-05-2018', 'Online', 101.58, 'Not_Canceled'),
 ('INN00148', 2, 0, 1, 2, 'Not Selected', 'Room_Type 1', 88, '08-04-2018', 'Online', 58.9, 'Not_Canceled'),
 ('INN00149', 2, 0, 0, 1, 'Meal Plan 1', 'Room_Type 1', 56, '08-06-2018', 'Offline', 120.0, 'Not_Canceled'),
 ('INN00150', 2, 0, 2, 3, 'Meal Plan 1', 'Room_Type 4', 73, '07-04-2018', 'Online', 107.1, 'Canceled'),
 ('INN00151', 2, 0, 1, 1, 'Meal Plan 1', 'Room_Type 1', 80, '02-05-2018', 'Online', 126.9, 'Not_Canceled'),
 ('INN00152', 2, 0, 0, 3, 'Meal Plan 1', 'Room_Type 4', 130, '29-09-2018', 'Online', 139.5, 'Canceled'),
 ('INN00153', 2, 0, 1, 3, 'Not Selected', 'Room_Type 1', 69, '04-04-2018', 'Online', 80.75, 'Not_Canceled'),
 ('INN00154', 2, 0, 0, 2, 'Meal Plan 2', 'Room_Type 1', 273, '17-07-2017', 'Online', 109.0, 'Canceled'),
 ('INN00155', 2, 0, 0, 1, 'Meal Plan 2', 'Room_Type 1', 55, '06-04-2018', 'Offline', 104.0, 'Not_Canceled'),
 ('INN00156', 1, 0, 0, 3, 'Meal Plan 1', 'Room_Type 1', 4, '01-11-2018', 'Corporate', 65.0, 'Not_Canceled'),
 ('INN00157', 2, 0, 0, 3, 'Meal Plan 1', 'Room_Type 4', 97, '24-05-2018', 'Online', 140.4, 'Not_Canceled'),
 ('INN00158', 2, 0, 0, 3, 'Meal Plan 1', 'Room_Type 1', 44, '17-02-2018', 'Offline', 75.0, 'Not_Canceled'),
 ('INN00159', 2, 0, 0, 1, 'Not Selected', 'Room_Type 1', 31, '14-04-2018', 'Online', 94.5, 'Canceled'),
 ('INN00160', 2, 0, 1, 0, 'Not Selected', 'Room_Type 1', 0, '05-06-2018', 'Online', 109.0, 'Not_Canceled'),
 ('INN00161', 2, 0, 2, 2, 'Meal Plan 1', 'Room_Type 1', 62, '12-11-2018', 'Online', 105.0, 'Not_Canceled'),
 ('INN00162', 2, 0, 2, 2, 'Meal Plan 1', 'Room_Type 4', 86, '17-04-2018', 'Online', 107.95, 'Not_Canceled'),
 ('INN00163', 3, 0, 2, 2, 'Meal Plan 1', 'Room_Type 7', 3, '07-10-2018', 'Online', 215.6, 'Not_Canceled'),
 ('INN00164', 2, 0, 1, 1, 'Not Selected', 'Room_Type 1', 197, '01-08-2018', 'Online', 85.5, 'Not_Canceled'),
 ('INN00165', 2, 0, 0, 2, 'Meal Plan 1', 'Room_Type 1', 143, '12-07-2018', 'Online', 105.3, 'Not_Canceled'),
 ('INN00166', 1, 0, 2, 1, 'Meal Plan 2', 'Room_Type 1', 23, '02-01-2018', 'Online', 1.0, 'Not_Canceled'),
 ('INN00167', 2, 0, 0, 2, 'Meal Plan 1', 'Room_Type 4', 8, '15-06-2018', 'Online', 156.0, 'Canceled'),
 ('INN00168', 1, 0, 0, 2, 'Meal Plan 1', 'Room_Type 1', 13, '16-11-2018', 'Online', 73.15, 'Not_Canceled'),
 ('INN00169', 2, 0, 1, 2, 'Meal Plan 1', 'Room_Type 1', 280, '19-09-2018', 'Online', 110.0, 'Canceled'),
 ('INN00170', 2, 1, 1, 0, 'Not Selected', 'Room_Type 1', 11, '13-09-2017', 'Online', 87.4, 'Not_Canceled'),
 ('INN00171', 2, 0, 0, 2, 'Meal Plan 1', 'Room_Type 1', 317, '15-09-2018', 'Online', 120.0, 'Canceled'),
 ('INN00172', 2, 0, 1, 2, 'Not Selected', 'Room_Type 1', 185, '16-12-2018', 'Online', 79.2, 'Canceled'),
 ('INN00173', 2, 0, 1, 3, 'Meal Plan 1', 'Room_Type 1', 160, '30-06-2018', 'Online', 90.95, 'Not_Canceled'),
 ('INN00174', 2, 0, 0, 4, 'Meal Plan 1', 'Room_Type 1', 104, '18-10-2018', 'Online', 91.48, 'Not_Canceled'),
 ('INN00175', 2, 1, 0, 1, 'Meal Plan 1', 'Room_Type 1', 11, '05-11-2018', 'Online', 150.0, 'Canceled'),
 ('INN00176', 2, 0, 0, 1, 'Not Selected', 'Room_Type 1', 2, '22-03-2018', 'Online', 89.0, 'Not_Canceled'),
 ('INN00177', 2, 0, 1, 4, 'Not Selected', 'Room_Type 1', 14, '17-08-2018', 'Online', 91.43, 'Not_Canceled'),
 ('INN00178', 2, 0, 0, 2, 'Meal Plan 1', 'Room_Type 1', 22, '20-05-2018', 'Offline', 140.0, 'Not_Canceled'),
 ('INN00179', 1, 1, 2, 5, 'Not Selected', 'Room_Type 1', 37, '24-10-2017', 'Online', 87.78, 'Not_Canceled'),
 ('INN00180', 2, 0, 0, 2, 'Meal Plan 2', 'Room_Type 1', 292, '21-07-2018', 'Online', 115.0, 'Canceled'),
 ('INN00181', 2, 0, 0, 3, 'Meal Plan 1', 'Room_Type 1', 11, '09-09-2017', 'Online', 80.85, 'Not_Canceled'),
 ('INN00182', 2, 0, 1, 3, 'Meal Plan 1', 'Room_Type 1', 86, '31-03-2018', 'Online', 82.45, 'Not_Canceled'),
 ('INN00183', 2, 0, 0, 1, 'Not Selected', 'Room_Type 1', 109, '11-10-2018', 'Online', 108.0, 'Canceled'),
 ('INN00184', 2, 0, 1, 1, 'Meal Plan 1', 'Room_Type 4', 72, '02-04-2018', 'Online', 96.3, 'Not_Canceled'),
 ('INN00185', 2, 0, 1, 5, 'Meal Plan 1', 'Room_Type 1', 196, '22-08-2018', 'Online', 99.45, 'Canceled'),
 ('INN00186', 2, 0, 0, 2, 'Meal Plan 1', 'Room_Type 4', 56, '13-05-2018', 'Online', 140.4, 'Not_Canceled'),

# 1. TOTAL NUMBER OF RESERVATION IN THE DATASET

In [7]:
%%sql
SELECT
    COUNT(Booking_ID) as total_number_of_reservations
FROM
    mentorness_internship_project.`hotel reservation dataset`;

 * mysql+pymysql://root:***@localhost:3306/mentorness_internship_project
1 rows affected.

[(700,)]

# 2. MOST POPULAR MEAL PLAN AMONG GUESTS

In [13]:
%%sql
SELECT type_of_meal_plan, COUNT(type_of_meal_plan) AS meal_plan_count
FROM mentorness_internship_project.`hotel reservation dataset`
GROUP BY type_of_meal_plan
ORDER BY meal_plan_count DESC
LIMIT 1;

 * mysql+pymysql://root:***@localhost:3306/mentorness_internship_project
1 rows affected.

[('Meal Plan 1', 527)]

# 3. AVERAGE PRICE PER ROOM FOR RESERVATIONS INVOLVING CHILDREN

In [17]:
%%sql
SELECT 
    AVG(avg_price_per_room)
FROM 
    mentorness_internship_project.`hotel reservation dataset`
WHERE no_of_children >0

 * mysql+pymysql://root:***@localhost:3306/mentorness_internship_project
1 rows affected.

[(144.56833333333336,)]

# 4. THE NUMBER OF RESERVATIONS MADE IN 2018

In [23]:
%%sql
SELECT
    COUNT(Booking_ID) as Number_of_reservations_in_2018
FROM 
    mentorness_internship_project.`hotel reservation dataset`
WHERE arrival_date LIKE '%2018'

 * mysql+pymysql://root:***@localhost:3306/mentorness_internship_project
1 rows affected.

[(577,)]

# 5. MOST COMMONLY BOOKED ROOM TYPE

In [30]:
%%sql
SELECT room_type_reserved, COUNT(room_type_reserved) as room_count
FROM mentorness_internship_project.`hotel reservation dataset`
GROUP BY room_type_reserved
ORDER BY room_count DESC
LIMIT 1;

 * mysql+pymysql://root:***@localhost:3306/mentorness_internship_project
1 rows affected.

[('Room_Type 1', 534)]

# 6. NUMBER OF RESERVATIONS THAT FALL ON A WEEKEND

In [32]:
%%sql
SELECT
    COUNT(Booking_ID) as Reservations_on_weekend
FROM mentorness_internship_project.`hotel reservation dataset`
WHERE no_of_weekend_nights >0

 * mysql+pymysql://root:***@localhost:3306/mentorness_internship_project
1 rows affected.

[(383,)]

# 7. HIGHEST AND LOWEST LEAD TIME FOR RESERVATIONS

In [36]:
%%sql
SELECT MAX(lead_time) as Highest_lead_time, MIN(lead_time) as lowest_lead_time
FROM mentorness_internship_project.`hotel reservation dataset`

 * mysql+pymysql://root:***@localhost:3306/mentorness_internship_project
1 rows affected.

[(443, 0)]

# 8. MOST COMMON MARKET SEGMENT TYPE FOR RESERVATIONS

In [42]:
%%sql
SELECT
    market_segment_type, COUNT(market_segment_type) as market_segment_type_count
FROM mentorness_internship_project.`hotel reservation dataset`
GROUP BY market_segment_type
ORDER BY market_segment_type_count DESC
LIMIT 1;

 * mysql+pymysql://root:***@localhost:3306/mentorness_internship_project
1 rows affected.

[('Online', 518)]

# 9. NUMBER OF RESERVATIONS WITH BOOKING STATUS AS 'CONFIRMED'

In [52]:
%%sql
SELECT
    COUNT(Booking_ID) as Confirmed_Reservations
FROM mentorness_internship_project.`hotel reservation dataset`
WHERE booking_status LIKE 'Confirmed'

 * mysql+pymysql://root:***@localhost:3306/mentorness_internship_project
1 rows affected.

[(0,)]

# 10. TOTAL NUMBER OF ADULTS AND CHILDREN ACROSS ALL RESERVATIONS

In [55]:
%%sql
SELECT
    SUM(no_of_adults) as Number_of_adults, SUM(no_of_children) as Number_of_children
FROM mentorness_internship_project.`hotel reservation dataset`

 * mysql+pymysql://root:***@localhost:3306/mentorness_internship_project
1 rows affected.

[(Decimal('1316'), Decimal('69'))]

# 11. AVERAGE NUMBER OF WEEKEND NIGHTS FOR RESERVATIONS INVOLVING CHILDREN

In [61]:
%%sql
SELECT
    AVG(no_of_weekend_nights) as Weekend_nights_involving_children
FROM mentorness_internship_project.`hotel reservation dataset`
WHERE no_of_children >0

 * mysql+pymysql://root:***@localhost:3306/mentorness_internship_project
1 rows affected.

[(Decimal('1.0000'),)]

# 12. RESERVATIONS MADE IN EACH MONTH OF THE YEAR

In [70]:
%%sql
SELECT 
    MonthName,
    COUNT(*) AS Reservations
FROM (
    SELECT 
        CASE SUBSTRING(arrival_date, 4, 2)
            WHEN '01' THEN 'January'
            WHEN '02' THEN 'February'
            WHEN '03' THEN 'March'
            WHEN '04' THEN 'April'
            WHEN '05' THEN 'May'
            WHEN '06' THEN 'June'
            WHEN '07' THEN 'July'
            WHEN '08' THEN 'August'
            WHEN '09' THEN 'September'
            WHEN '10' THEN 'October'
            WHEN '11' THEN 'November'
            WHEN '12' THEN 'December'
        END AS MonthName
    FROM 
        mentorness_internship_project.`hotel reservation dataset`
) AS subquery
GROUP BY 
    MonthName
ORDER BY 
    FIELD(MonthName, 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December');

 * mysql+pymysql://root:***@localhost:3306/mentorness_internship_project
12 rows affected.

[('January', 11),
 ('February', 28),
 ('March', 52),
 ('April', 67),
 ('May', 55),
 ('June', 84),
 ('July', 44),
 ('August', 70),
 ('September', 80),
 ('October', 103),
 ('November', 54),
 ('December', 52)]

# 13. AVERAGE NUMBER OF NIGHTS SPENT BY GUESTS FOR EACH ROOM TYPE

In [74]:
%%sql
SELECT 
    room_type_reserved,
    AVG(no_of_weekend_nights + no_of_week_nights) AS Avg_Nights
FROM 
    mentorness_internship_project.`hotel reservation dataset`
GROUP BY 
    room_type_reserved;

 * mysql+pymysql://root:***@localhost:3306/mentorness_internship_project
6 rows affected.

[('Room_Type 1', Decimal('2.8783')),
 ('Room_Type 4', Decimal('3.8000')),
 ('Room_Type 2', Decimal('3.0000')),
 ('Room_Type 6', Decimal('3.6111')),
 ('Room_Type 5', Decimal('2.5000')),
 ('Room_Type 7', Decimal('2.6667'))]

# 14. COMMON ROOM TYPE AND AVERAGE PRICE FOR THE ROOM TYPE FOR THE RESERVATIONS INVOLVING CHILDREN

In [81]:
%%sql
SELECT 
    room_type_reserved,
    AVG(avg_price_per_room) AS Avg_Price
FROM 
    mentorness_internship_project.`hotel reservation dataset`
WHERE 
    no_of_children > 0
GROUP BY 
    room_type_reserved
ORDER BY 
    COUNT(*) DESC
LIMIT 1;

 * mysql+pymysql://root:***@localhost:3306/mentorness_internship_project
1 rows affected.

[('Room_Type 1', 123.12291666666665)]

# 15. MARKET SEGMENT TYPE THAT GENERATES THE HIGHEST AVERAGE PRICE PER ROOM

In [87]:
%%sql
SELECT 
    market_segment_type,
    AVG(avg_price_per_room) AS Avg_Price_Per_Room
FROM 
    mentorness_internship_project.`hotel reservation dataset`
GROUP BY 
    market_segment_type
ORDER BY 
    Avg_Price_Per_Room DESC
LIMIT 1;

 * mysql+pymysql://root:***@localhost:3306/mentorness_internship_project
1 rows affected.

[('Online', 112.45521235521232)]